{% extends "AppBundle:Review:reviewbase.html.twig" %}




{%block content %}  
    <div class="container">

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <table>
                            <tr>
                                <td>Feedback request sent list&nbsp;&nbsp;&nbsp;&nbsp;</td> 

                                <td>
                                    {%if pagedown == false%} <span class="gi-7p glyphicon glyphicon-chevron-left"></span>{% else%}<a href="{{ path('review_sent', { 'page': pagedown })}}"><span class="gi-7p glyphicon glyphicon-chevron-left"></span>{%endif%}
                                        {% for all in pagesarray %}{% if page == all %} <button type="button" class="btn btn-sm disabled">{{all}}</button>{%else%}
                                                <a href="{{ path('review_sent', { 'page': all })}}"><button type="button" class="btn btn-default btn-sm">{{all}}</button>{%endif%}</a>
                                                    {% endfor %}
                                                        {%if pageup == false%} <span class="gi-7p glyphicon glyphicon-chevron-right"></span>{% else%}<a href="{{ path('review_sent', { 'page': pageup })}}"><span class="gi-7p glyphicon glyphicon-chevron-right"></span>{%endif%}



                                                        </td>


                                                        </tr>
                                                        </table>





                                                        </h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="gi-1x">
                                                                <table class="table table-striped gi-5p">

                                                                    <thead>
                                                                        <tr>
                                                                            <th>Customer</th>
                                                                            <th>Email</th>
                                                                            <th>Coordinator</th>
                                                                            <th>From email</th>
                                                                            <th>Date / Time</th>
                                                                            <th>Template Id</th>
                                                                            <th>Dentist</th>
                                                                            <th>Open</th>
                                                                        </tr>
                                                                    </thead>
                                                                    {% for all in confsent %}
                                                                        <tr>
                                                                            <td style="width:10%">{{all.customerName}}</td>
                                                                            <td style="width:10%">{{all.customerEmail}}</td>
                                                                            <td style="width:10%">{{all.user}}</td>
                                                                            <td style="width:10%">{{all.fromEmail}}</td>
                                                                            <td style="width:10%">{{ all.createdAt|date('d-m-Y H:i:s') }}</td>
                                                                            <td style="width:10%">{{all.tempId}}</td>
                                                                            <td style="width:10%">{{all.doctor}}</td>
                                                                            <td style="width:5%"><a href="{{ path('review_seesent', { 'id': all.id }) }}" target="_blank"><span class="glyphicon glyphicon-open"></span></a></td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </table>

                                                            </div>
                                                        </div>
                                                        </div>
                                                        </div>









                                                        </div>

                                                        {%endblock%}   



                                                            {% block emailform %}
                                                            {% endblock %}




                                                        {% block javascripts %}{% endblock %}


