<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="Peter Csatai" content="CRM" />
        <meta name="description" content="Dent1st crm and lead management system">
        <title>Dent1st Crm and Lead Management System</title>

        <!-- css stylesheets -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style type="text/css">
            #close {
                margin-left: auto;
                margin-right: auto;
                font-weight: bold;
                text-align: center;
            }
        </style>
    </head>
    <body>

        <div style="min-height:2em; font-size: large;"></div>
        <div class="container">

            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{title}}</h3>
                    </div>

                    <div class="panel-body">
                        <div style="min-height:1em;"></div>
                        <p style="font-weight: bold;">Subject</p>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2 class="panel-title">{{subject}}</h2>
                            </div>
                        </div>
                        <div style="min-height:1em;"></div>
                        <p style="font-weight: bold;">Message</p>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>{{body | raw}}</p>
                            </div>
                        </div>
                        <div style="min-height:1em;"></div>
                        <div>
                            {% if attachname1 != false %}
                                <span class="gi-6p glyphicon glyphicon-paperclip"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ asset('images/products/' ~ attachname1) }}" target="_blank">{{attachname1}}</a>
                                <br>
                            {% endif %}
                        </div>
                        <div>
                            {% if attachname2 != false %}
                                <span class="gi-6p glyphicon glyphicon-paperclip"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ asset('images/products/' ~ attachname2) }}" target="_blank">{{attachname2}}</a>
                                <br>
                            {% endif %}
                        </div>
                        <div>
                            {% if attachname3 != false %}
                                <span class="gi-6p glyphicon glyphicon-paperclip"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ asset('images/products/' ~ attachname3) }}" target="_blank">{{attachname3}}</a>
                                <br>
                            {% endif %}
                        </div>
                        <div style="min-height:1em;"></div>



                    </div>
                </div>

                <div style="min-height:1em;"></div>
                <div id="close"><input type="button" class="btn btn-success" value="Close" onclick="self.close()"></div>
                <div style="min-height:6em;"></div>
            </div>
        </div>
    </body>
</html>