<form action="{{ path('mainemail_sendemail', { 'type' : 'replyallsend'})}}" method="POST">
    <div class="col-lg-12">
        <div class="row">
            <input type="hidden" value="" name="settid" id="settid">
            <input type="hidden" value="" name="sentid" id="sentid">
            <input type="hidden" value="{{id}}" name="maininboxid" id="maininboxid">
            <input type="hidden" value="" name="toname" id="toname">
            <input type="hidden" value="" name="toarray" id="toarray">
            <input type="hidden" value="" name="reloadpage" id="reloadpage">
            <input type="hidden" value="" name="reloadfocusid" id="reloadfocusid">
            <div style="min-height:1em;"></div>
            <div class="col-lg-4">
                <span style="font-weight: bold">To</span>
                <input readonly type="email" value="{{email}}" name="sendto" id="sendto" class="input-sm form-control">
                <div style="min-height:1em;"></div>
            </div>
            <div class="col-lg-4">
                <span style="font-weight: bold">Cc</span>
                <input type="email" value="" name="sendcc" id="sendcc" class="input-sm form-control">
            </div>
            <div class="col-lg-4">
                <span style="font-weight: bold">Bcc</span>
                <input type="email" value="" name="sendbcc" id="sendbcc" class="input-sm form-control">
            </div>
            <div class="col-lg-12">
                <span style="font-weight: bold">To</span>
                <span>
                    {% for key, all in toarray %}
                        {{key}},&nbsp;&nbsp;
                    {% endfor %}
                </span>
                <div style="min-height:1em;"></div>
            </div>
        </div>
    </div>
    <div style="min-height:1em;"></div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <span style="font-weight: bold">Subject</span>
                <input id="subject" type="text" value="{{mysubject}}" name="subject" class="input-sm form-control">
                <div style="min-height:1em;"></div>
            </div>
        </div>
    </div>
    <span style="font-weight: bold">Message</span>
    <textarea class="form-control" cols="6" rows="20" name="editor1" id="editor1"> {{ mymessage }} </textarea>
    <div style="min-height:1em;"></div>
    <div class="container" id="showattachment">

    </div>
    <div style="min-height:1em;"></div>
    <div class="container">
        <div class="col-sm-6">
            <br>
            <input class="btn btn-sm btn-success" type="submit" value=" Send "/>
        </div>
        <div class="col-sm-6">
            <br>
            <button onclick="location.reload()" type="button" class="btn btn-danger btn-sm">Cancel</button>
        </div>
    </div>
</form>
<div class="container">
    <div style="min-height:1em;"></div>
    <div class="col-sm-6" id="uploadform">
        <div>Uploadform</div>
    </div>
</div>

<div style="min-height:3em;"></div>
<hr>
