{% extends "AppBundle:Mainemail:emailbase.html.twig" %}
{% block title %}Email manager{% endblock %}

{%block stylesheets %}
    <style>
        .panel-heading h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: normal;
            width: 75%;
            padding-top: 8px;
        }
        .input-xs, select.input-xs {
            height: 20px;
            line-height: 20px;
        }

        .btn-round {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .btn-round.btn-lg {
            width: 48px;
            height: 48px;
        }

        .btn-round.btn-sm {
            width: 34px;
            height: 34px;
        }

        .btn-round.btn-xs {
            width: 23px;
            height: 23px;
        }
        .myaddClass {
            background-color: #d9e7f9;
        }
        .tremail {
            height:10px;
        }
        .table-striped>thead>tr>th, .table-striped>tbody>tr>th, .table-striped>tfoot>tr>th, .table-striped>thead>tr>td, .table-striped>tbody>tr>td, .table-striped>tfoot>tr>td {
            padding: 5px 5px 1px 5px;
        }
        
        .emailheading {
            padding: 7px 5px 7px 0px;
        }
        
        .closetoleft {
            padding-left: 0px;
        }
        



    </style>
{%endblock%}

{% block renderaccount %}
    {{ render(controller('AppBundle:Mainemail:renderaccountnav', {'id': id})) }}
                            {% endblock %}

{%block content %}
    
    <div id="dialog-form" title="Create new folder">

        <form>
          <fieldset>
            <label for="foldername">Folder name</label>
            <input type="text" name="foldername" id="foldername" value="" class="text ui-widget-content ui-corner-all">

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
          </fieldset>
        </form>
</div>
    
    <div id="successcheck" data-action="{{success}}"></div>
        <div id="dialog-success" title="Success"></div>
        <div id="dialog-noresult" title="Alert"></div>
    
    
    
    
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading emailheading">

                <div class="col-lg-12">
                        <div class="col-lg-2 closetoleft">
                            <h3 class="panel-title">
                                {% if mysearchemail == false %}
                                    <div style="font-weight:bold;">{{folder}}&nbsp;&nbsp;&nbsp;</div> 
                                {% endif %}
                            </h3>

                            <div id="getsettid" action-data="{{id}}"></div>
                        </div>
                        
                        <!-- PAGINATOR FOR NORMAL DISPLAY  -->
                        {% if mysearchemail == false %}
                        <div class="col-lg-9">
                            {%if pager.pagedown == false%} <span class="gi-7p glyphicon glyphicon-chevron-left"></span>{% else%}<a href="{{ path('mainemail_inbox', { 'id':id, 'page': pager.pagedown, 'folder' : folder })}}"><span class="gi-7p glyphicon glyphicon-chevron-left"></span></a>{%endif%}
                                {% for all in pager.pagesarray %}{% if pager.page == all %} <button type="button" class="btn btn-sm disabled">{{all}}</button>{%else%}
                                        <a href="{{ path('mainemail_inbox', { 'id':id, 'page': all, 'folder' : folder })}}"><button type="button" class="btn btn-default btn-sm">{{all}}</button>{%endif%}</a>
                                            {% endfor %}
                                                {%if pager.pageup == false%} <span class="gi-7p glyphicon glyphicon-chevron-right"></span>{% else%}<a href="{{ path('mainemail_inbox', { 'id':id, 'page': pager.pageup, 'folder' : folder })}}"><span class="gi-7p glyphicon glyphicon-chevron-right"></span></a>{%endif%}
                                    </div>
                                    {% else %}
                                        
                        <!-- PAGINATOR FOR SEARCH DISPLAY  -->            
                        <div class="col-lg-9">
                            {%if pager.pagedown == false%} <span class="gi-7p glyphicon glyphicon-chevron-left"></span>{% else%}<a href="{{ path('mainemail_inbox', { 'id':id, 'page': pager.pagedown, 'folder' : 'searchemail', 'searchemailid' : searchemailid  })}}"><span class="gi-7p glyphicon glyphicon-chevron-left"></span>{%endif%}
                                {% for all in pager.pagesarray %}{% if pager.page == all %} <button type="button" class="btn btn-sm disabled">{{all}}</button>{%else%}
                                        <a href="{{ path('mainemail_inbox', { 'id':id, 'page': all, 'folder' : 'searchemail', 'searchemailid' : searchemailid })}}"><button type="button" class="btn btn-default btn-sm">{{all}}</button>{%endif%}</a>
                                            {% endfor %}
                                                {%if pager.pageup == false%} <span class="gi-7p glyphicon glyphicon-chevron-right"></span>{% else%}<a href="{{ path('mainemail_inbox', { 'id':id, 'page': pager.pageup, 'folder' : 'searchemail', 'searchemailid' : searchemailid })}}"><span class="gi-7p glyphicon glyphicon-chevron-right"></span></a>{%endif%}
                                    </div>                
                                        
                                        
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                                
                        <div class="panel-body">
                            
                            {% if mysearchemail == false %}
                                 <div class="col-lg-offset-2 col-lg-8"> 
                                     <div class="form-inline">
                                     {{ form_start(formsearch) }}
                                        {{ form_errors(formsearch) }}
                                        
                                        {{ form_errors(formsearch.searchdata) }}
                                         {{ form_widget(formsearch.searchdata) }}
                                        <button type="submit" class="btn btn-sm btn-default">Search</button>
                                     {{ form_end(formsearch) }}
                                    </div>
                                    </div>
                                
                                {% else %}
                                <div class="gi-5p">Search result for:&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;"> {{mysearchemail}}</span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="goBack()">Clear search</a>
                                </div>
                                
                                {% endif %}
                                
                                
                            <table class="table table-striped gi-4p">
                                <thead>
                                    <tr>    
                                        <th><span class="gi-7p glyphicon glyphicon-star" style="color:orange;"></span></th>
                                        <th>Date</th>
                                        <th>From</th>
                                        <th>Subject</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>
                                            <div class="col-xs-05 pull-right">
                                                    <select id="mainselect" class="form-control input-xs pull-right">
                                                        <option></option>
                                                        {% if folder != 'Inbox' %}
                                                        <option value="Inbox">Move to Inbox</option>
                                                        {% endif %}
                                                        {% for all in folders %}
                                                            <option value="{{all.foldername}}">Move to {{all.foldername}}</option>
                                                            {% endfor %}
                                                    </select>
                                                </div>
                                        </th>
                                        <th><input type="checkbox" id="checkallemail" name="checkallemail" value=""></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mykey, all in allinbox %}
                                        <tr id="tr{{all.id}}" seen-data="{{all.seen}}" action-data="{{all.id}}" array-data="{{mykey}}" {% if all.seen == 0 %} style="font-weight: bold;" {% endif %} class="tremail">
                                            <td style="width:4%" class="starsign" id="starsign{{all.id}}" action-data="{{all.id}}">
                                                {% if mystars[all.id] is defined %}
                                                <span class="gi-7p glyphicon glyphicon-star orangestar" style="color:orange;"></span>
                                                {% else %}
                                                <span class="gi-7p glyphicon glyphicon-star-empty emptystar" style="color:#cbcbcb;"></span>    
                                                    {% endif %}
                                            </td>
                                            <td style="width:20%" class="shownewemailclick" seen-data="{{all.seen}}" action-data="{{all.id}}" array-data="{{mykey}}">
                                                {% if all.maildate|date('U') > todayMidnigth|date('U') %}
                                                    {{ all.maildate|date('H:i:s') }}
                                                {% else %}
                                                    {{ all.maildate|date('d-m-Y') }}
                                                {% endif %}


                                            </td>
                                            <td style="width:20%" class="shownewemailclick" seen-data="{{all.seen}}" action-data="{{all.id}}" array-data="{{mykey}}">
                                                <div style="height:100%;width:100%">
                                                    {{all.fromname[:10] ~ ''}}
                                                </div>
                                            </td>
                                            <td style="width:30%" class="shownewemailclick" seen-data="{{all.seen}}" action-data="{{all.id}}" array-data="{{mykey}}"> 
                                                {{all.subject[:15] ~ '...'}}
                                            </td>
                                            <td style="width:4%; text-align: right;" class="shownewemailclick" seen-data="{{all.seen}}" action-data="{{all.id}}" array-data="{{mykey}}"> {% if all.attachment == 1 %}<span class="gi-6p glyphicon glyphicon-paperclip pull-right"></span>{% endif %}</td>
                                            <td style="width:4%; text-align: right;">{% if all.replaid != false %}<a href="{{ path('mainemail_sent', { 'id':id, 'searchemailid' : all.replaid })}}"><span class="gi-6p glyphicon glyphicon-retweet pull-right"></span></a>{% endif %}</td>
                                            <td style="width:4%; text-align: right;"><a href="{{ path('mainemail_inbox', { 'id':id, 'folder' : 'searchemail', 'searchemailid' : all.id })}}"><span class="gi-6p glyphicon glyphicon-search pull-right"></span></a></td>
                                            <td style="width:4%; text-align: right;"><a href="{{ path('mainemail_conversation', { 'id':id, 'email':all.fromemail,})}}"><span class="gi-6p glyphicon glyphicon-align-justify pull-right"></span></a></td>
                                            <td style="width:4%">
                                                <div class="col-xs-05 pull-right">
                                                    <select id="singleselect" action-data="{{all.id}}" class="form-control input-xs pull-right">
                                                        <option></option>
                                                        {% if folder != 'Inbox' %}
                                                        <option value="Inbox">Move to Inbox</option>
                                                        {% endif %}
                                                        {% for all in folders %}
                                                            <option value="{{all.foldername}}">Move to {{all.foldername}}</option>
                                                            {% endfor %}
                                                        <option>Mark as unread</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td style="width:4%"><input type="checkbox" action-data="{{all.id}}" id="checkbox{{mykey}}" name="checkbox{{mykey}}" value=""></td>
                                        </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                                <br><br><br><br><br><br>
                </div>

                <div class="col-lg-7">
                    <div class="panel panel-info">
                        <div class="panel-heading emailheading">
                            <div class="col-lg-12">
                                <div class="col-lg-6 closetoleft">
                                    <h3 class="panel-title">
                                        Account:<span style="font-weight:bold"> &nbsp;&nbsp;&nbsp;{{settingsname}}</span>
                                     </h3>
                                 </div>
                                <div class="col-xs-2 pull-right">
                                    <div id="actiondiv">
                                        <select id="action" class="form-control input-sm pull-right gi-6p" >
                                        </select>
                                    </div>
                                </div>
                            </div>
                                <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">

                            <div class="col-lg-12">
                                <div class="row">

                                    <div id="emailbody">

                                    </div>

                                    <div id="iframeappend">

                                        {% if allinbox[0] is defined %}
                                            <div id="iframebody0" class="col-lg-12" {% if allinbox[0].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[0].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[0].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}

                                        {% if allinbox[1] is defined %}
                                            <div id="iframebody1" class="col-lg-12" {% if allinbox[1].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[1].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[1].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[2] is defined %}
                                            <div id="iframebody2" class="col-lg-12" {% if allinbox[2].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[2].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[2].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[3] is defined %}
                                            <div id="iframebody3" class="col-lg-12" {% if allinbox[3].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[3].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[3].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[4] is defined %}
                                            <div id="iframebody4" class="col-lg-12" {% if allinbox[4].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[4].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[4].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[5] is defined %}
                                            <div id="iframebody5" class="col-lg-12" {% if allinbox[5].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[5].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[5].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[6] is defined %}
                                            <div id="iframebody6" class="col-lg-12" {% if allinbox[6].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[6].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[6].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[7] is defined %}
                                            <div id="iframebody7" class="col-lg-12" {% if allinbox[7].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[7].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[7].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[8] is defined %}
                                            <div id="iframebody8" class="col-lg-12" {% if allinbox[8].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[8].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[8].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[9] is defined %}
                                            <div id="iframebody9" class="col-lg-12" {% if allinbox[9].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[9].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[9].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[10] is defined %}
                                            <div id="iframebody10" class="col-lg-12" {% if allinbox[10].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[10].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[10].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[11] is defined %}
                                            <div id="iframebody11" class="col-lg-12" {% if allinbox[11].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[11].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[11].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[12] is defined %}
                                            <div id="iframebody12" class="col-lg-12" {% if allinbox[12].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[12].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[12].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[13] is defined %}
                                            <div id="iframebody13" class="col-lg-12" {% if allinbox[13].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[13].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[13].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[14] is defined %}
                                            <div id="iframebody14" class="col-lg-12" {% if allinbox[14].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[14].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[14].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[15] is defined %}
                                            <div id="iframebody15" class="col-lg-12" {% if allinbox[15].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[15].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[15].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[16] is defined %}
                                            <div id="iframebody16" class="col-lg-12" {% if allinbox[16].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[16].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[16].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[17] is defined %}
                                            <div id="iframebody17" class="col-lg-12" {% if allinbox[17].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[17].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[17].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[18] is defined %}
                                            <div id="iframebody18" class="col-lg-12" {% if allinbox[18].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[18].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[18].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}
                                        {% if allinbox[19] is defined %}
                                            <div id="iframebody19" class="col-lg-12" {% if allinbox[19].id != focusId %} style="visibility:collapse; height:0px;" {% endif %}>
                                                <iframe name="myiframe" style="width: 100%; height: 600px; border: none" id="myiframe{{allinbox[19].id}}" src="{{ path('mainemail_renderemail', { 'id':allinbox[19].id, })}}" >
                                                </iframe>
                                            </div>
                                        {% endif %}

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>







                {%endblock%}   



                    {% block javascripts %}

                        <script>
                            function goBack() {
                                    window.location.href="{{ path('mainemail_inbox', { 'id':id, 'page': page })}}";
                                }

                            $(document).ready(function () {
                                var dialog, form;
                                var mainurl = document.URL;
                                
                                if (mainurl.indexOf('success') > -1) {
                                    var newurl = mainurl.replace('/success', '');
                                    window.history.replaceState({}, 'Title', newurl);
                                }
                                
                                $(function () {
                                    var selectedfolder = $('#myfolder' + '{{folder}}');
                                    $(selectedfolder).attr("style", "color: white;");
                                });
                                //dialog box for new folder
                                dialog = $( "#dialog-form" ).dialog({
                                    autoOpen: false,
                                    height: 200,
                                    width: 350,
                                    modal: true,
                                    buttons: {
                                      "Create a folder": function () {
                                          var newname = $('#foldername').val();
                                          addFolder(newname);
                                      },
                                      Cancel: function() {
                                        dialog.dialog( "close" );
                                      }
                                    },
                                    close: function() {
                                      form[ 0 ].reset();
                                      allFields.removeClass( "ui-state-error" );
                                    }
                                });
                                
                                form = dialog.find( "form" ).on( "submit", function( event ) {
                                    event.preventDefault();
                                    dialog.dialog( "close" );
                                });
                                
                                $( "#new-folder" ).on( "click", function() {
                                    dialog.dialog( "open" );
                                });
                                
                                function addFolder(newname) {
                                    var settid = {{id}};
                                    console.log(newname);
                                    var myUrl = "{{ path('mainemail_createfolder', { 'settid':'PLACEHOLDER1', 'foldername':'PLACEHOLDER2'})}}";
                                    
                                    $.ajax({
                                        url: myUrl.replace("PLACEHOLDER1", settid).replace("PLACEHOLDER2", newname),
                                        dataType: "json",
                                        success: function (response) {
                                            console.log(response);
                                            window.location.reload();
                                        },
                                        complete: function () {
                                            //console.log('Request is complete');
                                        },
                                        error: function () {
                                            console.log('Oops...there was an error!');
                                        }
                                    });
                                }
                                
                                $("#dialog-success").dialog({
                                    autoOpen: false,
                                    modal: true,
                                    buttons: {
                                        Ok: function () {
                                            $(this).dialog("close");
                                        }
                                    },
                                    show: {
                                        effect: "blind",
                                        duration: 500
                                    },
                                    hide: {
                                        effect: "blind",
                                        duration: 500
                                    }
                                });
                                $("#dialog-noresult").dialog({
                                    autoOpen: false,
                                    modal: true,
                                    buttons: {
                                        Ok: function () {
                                            $(this).dialog("close");
                                        }
                                    },
                                    show: {
                                        effect: "blind",
                                        duration: 500
                                    },
                                    hide: {
                                        effect: "blind",
                                        duration: 500
                                    }
                                });
        
                                $(function () {
                                    var successcheck = $('#successcheck').attr('data-action');
                                    if (successcheck === 'success') {
                                        var alarmBox = document.getElementById("dialog-success");
                                        alarmBox.innerHTML = 'Message sent!';
                                        $("#dialog-success").dialog("open");
                                    }
                                    if (successcheck === 'noresult') {
                                        var alarmBox = document.getElementById("dialog-noresult");
                                        alarmBox.innerHTML = 'No result. Please try advanced search!';
                                        $("#dialog-noresult").dialog("open");
                                    }
                                    
                                    console.log(successcheck);
                                });
                            });
                            
                            
                            
                            
                            
                            
                            
                                </script>
                                
                             
                                <script>
                            $(document).ready(function () {
                                 var selecaction = '<option></option>\
                                                   <option value="1">Reply</option>\
                                                   <option value="2">Forward</option>\
                                                   <option value="3">Reply all</option>';
                                //selectactions
                                $(document).ready(function () {        
                                    $(document).on('change', "#checkallemail", function (e) {
                                        for (i = 0; i < 20; i++) {
                                            $('#checkbox' + i).trigger('click');
                                        }
                                    });
                                });
                                $(document).on('change', "#mainselect", function (e) {
                                    var action = this.value;
                                    var emailidarray = new Array();
                                    emailidarray.push(action);
                                    for (i = 0; i < 20; i++) {
                                        if($('#checkbox' + i).is(':checked')) {
                                            var emailid = $('#checkbox' + i).attr('action-data');
                                            emailidarray.push(emailid);
                                        }
                                    }
                                    if (action != '') {
                                        emailaction(emailidarray);
                                    }
                                });
                                $(document).on('change', "#singleselect", function (e) {
                                    var action = this.value;
                                    var emailidarray = new Array();
                                    emailidarray.push(action);
                                    var emailid = $(this).attr('action-data');

                                    console.log(emailid);
                                    //var emailid = $('#singleselect').attr('action-data');
                                    emailidarray.push(emailid);
                                    //console.log(emailid);
                                    //console.log(emailidarray);
                                    if (action != '' && action != 'Mark as unread') {
                                        emailaction(emailidarray);
                                    } else if (action === 'Mark as unread') {
                                        markasunread(emailid);
                                    }

                                });
                                function markasunread(emailid) {
                                    $('#tr' + emailid).removeAttr('style');
                                    $('#tr' + emailid).attr("style", "font-weight: bold;");
                                    setasunseen(emailid);
                                    $('#iframeappend').children('div').attr("style", "visibility:collapse; height:0px;");
                                    oldfocusid = '';
                                }
                                
                                function emailaction(emailidarray) {
                                    //console.log(action);
                                    var myUrl = "{{ path('mainemail_emailajaxaction', { 'settid':'PLACEHOLDER1', 'id':'PLACEHOLDER2'})}}";
                                    var settid = {{id}};
                                    //var data_to_send = $.serialize(emailidarray);
                                    $.ajax({
                                        type: "POST",
                                        data: {emailidarray:emailidarray},
                                        url: myUrl.replace("PLACEHOLDER1", settid).replace("PLACEHOLDER2", action),
                                        dataType: "json",
                                        success: function (response) {
                                            var result = response;
                                            if(result != 'empty') {
                                                window.location.reload();
                                                console.log(response);
                                            }
                                            //console.log(response);
                                        },
                                        complete: function () {
                                            //console.log('Request is complete');
                                        },
                                        error: function () {
                                            console.log('Oops...there was an error!');
                                        }
                                    });
                                }
                                
                                //display the first item when page is loaded
                                $(function () {
                                    var arrayid = $('#tr' + {{focusId}}).attr('array-data');
                                    var seenstatus = $('#tr' + {{focusId}}).attr('seen-data');
                                    //$('#iframebody' + arrayid).removeAttr('style');
                                    var focusnode = $('#tr' + {{focusId}});
                                    //change the background based on seen
                                    //$('#tr' + {{focusId}}).attr("style", "background-color: #d9e7f9;");
                                    if(seenstatus == 1) {
                                        $(focusnode).attr("style", "background-color: #d9e7f9;");  
                                    } else {
                                        $(focusnode).attr("style", "background-color: #d9e7f9; font-weight: bold;");
                                    }
                                    oldfocusid = {{focusId}};
                                    var emailid = $('#tr' + {{focusId}}).attr('action-data');
                                    //checkblockedImage();
                                    loadreply(emailid);
                                    loadforward(emailid);
                                    loadreplyall(emailid);
                                    settimeoutseen();
                                });
                                
                                $(document).on('click', ".starsign", function (e) {
                                    var staremailid = $(this).attr('action-data');
                                    console.log(staremailid);
                                    if ($('#starsign' + staremailid).find('.orangestar').length > 0){ 
                                        $('#starsign' + staremailid).empty();
                                        var span = document.createElement('span');
                                        span.className = 'gi-7p glyphicon glyphicon-star-empty';
                                        span.style["color"] = "#cbcbcb";
                                        $('#starsign' + staremailid).append(span);
                                    } else {
                                        $('#starsign' + staremailid).empty();
                                        var span = document.createElement('span');
                                        span.className = 'gi-7p glyphicon glyphicon-star orangestar';
                                        span.style["color"] = "orange";
                                        $('#starsign' + staremailid).append(span);
                                    }
                                    setstar(staremailid);
                                    
                                });
                                
                                function setstar(staremailid) {
                                    var setttid = {{id}};
                                    var myUrl = "{{ path('mainemail_star', { 'id': 'myPLACEHOLDER', 'settid' : 'myPLACEHOLDER2'} )}}";
                                    $.ajax({
                                        url: myUrl.replace("myPLACEHOLDER", staremailid).replace("myPLACEHOLDER2", setttid),
                                        dataType: "json",
                                        success: function (response) {
                                            console.log(response);
                                            
                                        }
                                    });
                                
                                }
                                
                                //display inbox message if clicked 
                                $(document).on('click', ".shownewemailclick", function (e) {
                                    $('#emailbody').html('');
                                    var emailid = $(this).attr('action-data');
                                    var arrayid = $(this).attr('array-data');
                                    //display message on the left
                                    $('#iframeappend').children('div').attr("style", "visibility:collapse; height:0px;");
                                    $('#iframebody' + arrayid).removeAttr('style');
                                    var focusnode = $('#tr' + emailid);
                                    var oldfocusnode = $('#tr' + oldfocusid);
                                    var seenstatus = $(focusnode).attr('seen-data');
                                    
                                    //remove click style from the old click
                                    var oldseenstatus = $(oldfocusnode).attr('seen-data');
                                    console.log(oldfocusnode);
                                    if (oldseenstatus == 1) {
                                        $(oldfocusnode).removeAttr('style'); 
                                    } else {
                                        $(oldfocusnode).removeAttr('style');
                                        $(oldfocusnode).attr("style", "font-weight: bold;");
                                    }
                                    
                                    if(seenstatus == 1) {
                                      $(focusnode).attr("style", "background-color: #d9e7f9;");  
                                    } else {
                                      $(focusnode).attr("style", "background-color: #d9e7f9; font-weight: bold;");
                                    }
                                    //$(focusnode).attr("style", "background-color: #d9e7f9;");
                                    oldfocusid = emailid;
                                    $('#action').val('');
                                    
                                    loadreply(emailid);
                                    loadforward(emailid);
                                    loadreplyall(emailid);
                                    
                                    settimeoutseen();
                                    //if(seenstatus == 0) {
                                    //    settimeoutseen();
                                    //}
                                    //setasseen(emailid);
                                    
                                });
                                
                                function settimeoutseen() {
                                        setTimeout(function(){ setasseen(); }, 1000);
                                    }

                                function setasseen() {
                                        var emailid = oldfocusid;
                                        var myUrl = "{{ path('mainemail_ajaxseen', { 'id': 'myPLACEHOLDER'} )}}";
                                        $.ajax({
                                            url: myUrl.replace("myPLACEHOLDER", emailid),
                                            dataType: "json",
                                            success: function (response) {
                                                console.log(response);
                                                $('#tr' + oldfocusid).attr('seen-data', 1);
                                                $('#tr' + oldfocusid).attr("style", "background-color: #d9e7f9;");
                                            }
                                        });
                                }
                                
                                 
                                 function createEmptyReply() {
                                    var myUrl = "{{ path('mainemail_createmptyreply', { 'settid':'PLACEHOLDER1', 'id':'PLACEHOLDER2'})}}";
                                    var settid = {{id}};
                                    $.ajax({
                                        url: myUrl.replace("PLACEHOLDER1", settid).replace("PLACEHOLDER2", oldfocusid),
                                        dataType: "json",
                                        success: function (response) {
                                            uploadformNewMessage(response);
                                            console.log(response);
                                            newreplyid = response;
                                            $('#sentid').val(newreplyid);
                                            $('#reloadpage').val({{page}});
                                            $('#reloadfocusid').val(oldfocusid);
                                        },
                                        complete: function () {
                                            //console.log('Request is complete');
                                        },
                                        error: function () {
                                            console.log('Oops...there was an error!');
                                        }
                                    });
                                }
                                 
                                 
                                 
                                function createEmptyNewmMessage () {
                                    var myUrl = "{{ path('mainemail_createmptyreply', { 'settid':'PLACEHOLDER'})}}"
                                    var settid = {{id}};
                                    $.ajax({
                                        url: myUrl.replace("PLACEHOLDER", settid),
                                        dataType: "json",
                                        success: function (response) {
                                            uploadformNewMessage(response);
                                            console.log('emptysent id' + response);
                                            newreplyid = response;
                                            $('#sentid').val(newreplyid);
                                            $('#reloadpage').val({{page}});
                                            $('#reloadfocusid').val(oldfocusid);
                                        },
                                        complete: function () {
                                            //console.log('Request is complete');
                                        },
                                        error: function () {
                                            console.log('Oops...there was an error!');
                                        }
                                    });
                                }
                                
                                //create new upload form based on new sentid
                                function uploadformNewMessage(emailid) {
                                    var myUrl = "{{ path('mainemail_ajaxformupload', { 'settid':'PLACEHOLDER1', 'emailid': 'PLACEHOLDER2'})}}"
                                    var settid = {{id}};
                                    $.ajax({
                                        url: myUrl.replace("PLACEHOLDER1", settid).replace("PLACEHOLDER2", emailid),
                                        dataType: "json",
                                        success: function (response) {
                                            $("#uploadform").html(response);
                                            //$('#sentid').val(newreplyid);
                                            //uploadform = response;
                                            //console.log(response);

                                        },
                                        complete: function () {
                                            //console.log('Request is complete');
                                        },
                                        error: function () {
                                            console.log('Oops...there was an error!');
                                        }
                                    });
                                }
                                
                                $(document).on('submit', "#formnewmessageupload", function (e) {
                                    e.preventDefault();
                                    var data = new FormData(this);
                                    var settid = {{id}};
                                    var myUrl = "{{ path('mainemail_ajaxformupload', { 'settid':'PLACEHOLDER1', 'emailid': 'PLACEHOLDER2'})}}";
                                    //var frm = $('#formupload');
                                    //console.log(frm);
                                    $.ajax({
                                        type: 'POST',
                                        url: myUrl.replace("PLACEHOLDER1", settid).replace("PLACEHOLDER2", newreplyid),
                                        //url: myUrl.replace("PLACEHOLDER", newreplyid),
                                        cache: false,
                                        data: data,
                                        processData: false,
                                        contentType: false,
                                        success: function (data)
                                        {
                                            console.log(data);
                                            var attid = data;
                                            showAttached(attid);
                                        }
                                    });
                                    return false;
                                });
                                
                                function setasunseen(emailid) {
                                    var myUrl = "{{ path('mainemail_ajaxunseen', { 'id': 'myPLACEHOLDER'} )}}";
                                    $.ajax({
                                        url: myUrl.replace("myPLACEHOLDER", emailid),
                                        dataType: "json",
                                        success: function (response) {
                                            console.log(response);
                                            $('#tr' + emailid).attr('seen-data', 0);
                                        }
                                    });
                                }

                                function loadreply(emailid) {
                                    var settid = {{id}};
                                    var myUrl = "{{ path('mainemail_ajaxemailform', { 'id':'PLACEHOLDER', 'type': 'reply', 'settid' : 'PLACEHOLDER2' })}}"
                                    $.ajax({
                                        url: myUrl.replace("PLACEHOLDER", emailid).replace("PLACEHOLDER2", settid),
                                        dataType: "json",
                                        success: function (response) {
                                            mainreplyform = response;
                                            //console.log(response);

                                        },
                                        complete: function () {
                                            console.log('Request is complete');
                                        },
                                        error: function () {
                                            console.log('Oops...there was an error!');
                                        }
                                    });
                                }
                                
                                function replyemail() {
                                    $("#emailbody").html(mainreplyform);
                                    CKEDITOR.replace('editor1', {
                                        height: ['350px']
                                    });
                                    //$("#uploadform").html(uploadform);
                                    createEmptyReply();
                                    var mysettid = $('#getsettid').attr('action-data');
                                    $('#settid').val(mysettid);
                                    //console.log(mysettid);
                                }
                                
                                function loadforward(emailid) {
                                    var settid = {{id}};
                                    var myUrl = "{{ path('mainemail_ajaxemailform', { 'id':'PLACEHOLDER', 'type': 'forward', 'settid' : 'PLACEHOLDER2'})}}"
                                    $.ajax({
                                        url: myUrl.replace("PLACEHOLDER", emailid).replace("PLACEHOLDER2", settid),
                                        dataType: "json",
                                        success: function (response) {
                                            mainforwardform = response;
                                            //$('#action').html(selecaction);
                                            //console.log(response);

                                        },
                                        complete: function () {
                                            console.log('Request is complete');
                                        },
                                        error: function () {
                                            console.log('Oops...there was an error!');
                                        }
                                    });
                                }
                                
                                function forwardemail() {
                                    $("#emailbody").html(mainforwardform);
                                    CKEDITOR.replace('editor1', {
                                        height: ['350px']
                                    });
                                    //$("#uploadform").html(uploadform);
                                    createEmptyForward();
                                    var mysettid = $('#getsettid').attr('action-data');
                                    $('#settid').val(mysettid);
                                    console.log(mysettid);
                                    $('#sendto').val('');
                                }
                                
                                $(document).on('change', "#action", function () {
                                    var action = this.value;
                                    if (action === '1') {
                                        replyemail();
                                    } else if (action === '2') {
                                        forwardemail();
                                    } else if (action === '3') {
                                        replyall();
                                    }
                                });
                                
                                
                                function loadreplyall(emailid) {
                                    var settid = {{id}};
                                    var myUrl = "{{ path('mainemail_ajaxemailform', { 'id':'PLACEHOLDER', 'type': 'replyall', 'settid' : 'PLACEHOLDER2'})}}"
                                    $.ajax({
                                        url: myUrl.replace("PLACEHOLDER", emailid).replace("PLACEHOLDER2", settid),
                                        dataType: "json",
                                        success: function (response) {
                                            mainreplyallform = response;
                                            $('#action').html(selecaction);
                                            //console.log(mainreplyallform);

                                        },
                                        complete: function () {
                                            console.log('Request is complete');
                                        },
                                        error: function () {
                                            console.log('Oops...there was an error!');
                                        }
                                    });
                                }
                                
                                function replyall() {
                                    $("#emailbody").html(mainreplyallform);
                                    CKEDITOR.replace('editor1', {
                                        height: ['350px']
                                    });
                                    //$("#uploadform").html(uploadform);
                                    createEmptyReply();
                                    var mysettid = $('#getsettid').attr('action-data');
                                    $('#settid').val(mysettid);
                                    //console.log(mysettid);
                                }
                                
                                function createEmptyForward() {
                                    var myUrl = "{{ path('mainemail_createmptyforward', { 'settid':'PLACEHOLDER1', 'id':'PLACEHOLDER2'})}}";
                                    
                                    //var myUrl = "{{ path('mainemail_createmptyforward', { 'settid':'PLACEHOLDER'})}}";
                                    var settid = {{id}};
                                    $.ajax({
                                        url: myUrl.replace("PLACEHOLDER1", settid).replace("PLACEHOLDER2", oldfocusid),
                                        dataType: "json",
                                        success: function (response) {
                                            uploadformNewMessage(response);
                                            //console.log(response);
                                            newreplyid = response;
                                            $('#sentid').val(newreplyid);
                                            $('#reloadpage').val({{page}});
                                            $('#reloadfocusid').val(oldfocusid);
                                            //forwardattachmentscount();
                                            var newemailid = response;
                                            forwardattachmentdisplay(newemailid);
                                            //forwardattachmentscount();
                                        },
                                        complete: function () {
                                            //console.log('Request is complete');
                                        },
                                        error: function () {
                                            console.log('Oops...there was an error!');
                                        }
                                    });
                                }
                                
                                function forwardattachmentscount() {
                                    //var settid = {{id}};
                                    var emailid = oldfocusid;
                                    var myUrl = "{{ path('mainemail_ajaxforwardattachmentcount', { 'id':'PLACEHOLDER'})}}";
                                    $.ajax({
                                        url: myUrl.replace("PLACEHOLDER", emailid),
                                        dataType: "json",
                                        success: function (response) {
                                            //console.log(response);
                                            var count = response;
                                            //var arrayLength = count.length;
                                            //console.log(arrayLength);
                                            //forwardattachmentdisplay(count);
                                            
                                        },
                                        complete: function () {
                                            //console.log('Request is complete');
                                        },
                                        error: function () {
                                            console.log('Oops...there was an error!');
                                        }
                                    });
                                }
                                
                                function forwardattachmentdisplay(newemailid) {
                                    var settid = {{id}};
                                    var oldemailid = oldfocusid;
                                    console.log(newemailid);
                                    console.log(oldemailid);
                                    var myUrl = "{{ path('mainemail_ajaxforwardattachmentdisplay', { 'newid':'PLACEHOLDER', 'oldid':'PLACEHOLDER2' , 'settid':'PLACEHOLDER3'})}}";
                                    $.ajax({
                                        url: myUrl.replace("PLACEHOLDER", newemailid).replace("PLACEHOLDER2", oldemailid).replace("PLACEHOLDER3", settid),
                                        dataType: "json",
                                        success: function (response) {
                                            console.log(response);
                                            var result = response;
                                            var arrayLength = result.length;
                                            console.log(arrayLength);
                                            for (var i = 0; i < arrayLength; i++) {
                                                //alert(myStringArray[i]);
                                                console.log(result[i]);
                                                showAttached(result[i]);
                                            }
                                            
                                        },
                                        complete: function () {
                                            //console.log('Request is complete');
                                        },
                                        error: function () {
                                            console.log('Oops...there was an error!');
                                        }
                                    });
                                }
                                

                                $(document).on('submit', "#formupload", function (e) {
                                    e.preventDefault();
                                    var data = new FormData(this);
                                    var myUrl = "{{ path('mainemail_ajaxformupload2', { 'id':'PLACEHOLDER',} )}}"
                                    //var frm = $('#formupload');
                                    //console.log(frm);
                                    $.ajax({
                                        type: 'POST',
                                        url: myUrl.replace("PLACEHOLDER", newreplyid),
                                        cache: false,
                                        data: data,
                                        processData: false,
                                        contentType: false,
                                        success: function (data)
                                        {
                                            console.log(data);
                                            var attid = data;
                                            showAttached(attid);
                                        }
                                    });
                                    return false;
                                });
                                
                                function showAttached(attid) {
                                    var settid = {{id}};
                                    var myurl = "{{ path('mainemail_ajaxshowattached', { 'id': 'PLACEHOLDER', 'settid':'PLACEHOLDER2'} )}}"
                                    $.ajax({
                                        url: myurl.replace("PLACEHOLDER", attid).replace("PLACEHOLDER2", settid),
                                        dataType: "json",
                                        success: function (response) {
                                            //var attachmentNode = 
                                            var myDiv = document.createElement('div');
                                            myDiv.className = 'removenode';
                                            $(myDiv).html(response);
                                            $("#showattachment").append(myDiv);
                                        },
                                        complete: function () {
                                            //console.log('Request is complete');
                                        },
                                        error: function () {
                                            console.log('Oops...there was an error!');
                                        }
                                    });
                                }

                                $(document).on('click', ".removeattach", function (e) {
                                    var attid = $(this).attr('action-data');
                                    var clicked = $(this);
                                    var removeNode = $(clicked).parents().eq(1);
                                    $(removeNode).remove();
                                    deleteAttDatabase(attid);
                                });
                                
                                function deleteAttDatabase(attid) {
                                    var myurl = "{{ path('mainemail_removeattachment', { 'attid': 'PLACEHOLDER'} )}}"
                                    $.ajax({
                                        url: myurl.replace("PLACEHOLDER", attid),
                                        dataType: "json",
                                        success: function (response) {
                                            console.log(response);
                                        },
                                        complete: function () {
                                            console.log('Request is complete');
                                        },
                                        error: function () {
                                            console.log('Oops...there was an error!');
                                        }
                                    });
                                }













                            });
                        </script>





                    {% endblock %}
