<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CRM And LEAD Manager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Customer Relationship Management Software">
        <meta name="author" content="Peter Csatai">

        <!-- css stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="{{asset('bundles/login/css/dialogStyle.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/login/css/layoutStyle.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/login/css/ispinner.css')}}" rel="stylesheet">
        <script
            src="http://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous">
        </script>

        <style type="text/css">
            body
            {
                background: url('{{asset('bundles/app/images/background9.jpg')}}') fixed;
                background-size: cover;
                padding: 0;
                margin: 0;
                font-family: 'Drug', 'Open Sans', sans-serif;
            }
            @font-face {
                font-family: 'Drug'; 
                src:    url({{asset('bundles/app/fonts/Drugs.otf')}}) format('opentype'); 
            }
        </style>
        {%block stylesheets %}
        {%endblock%}
    </head>

    <body>
        <div class="backdrop" style="display:none;"></div>
    <div id="myModal" class="modal" tabindex="-1" role="dialog" style="display:none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close closeButton" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div id="modalContent"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default closeButton" style="margin-top:5px;">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
        
        
        
        
        <div id="dialog" title="Contact form" style="display:none;">
            <div class="row">
                {{ form_start(contactForm, {'attr': {'id': 'contactForm'}}) }}
                <div style="padding-top: 5px;">
                    {{ form_errors(contactForm.message) }}
                    {{ form_widget(contactForm.message, { 'attr': { 
                            'rows' : '10', 
                            'cols' : '10',
                    }}) }}
                </div>
                <div style="padding-top: 5px;">
                    {{ form_errors(contactForm.name) }}
                    {{ form_widget(contactForm.name) }}
                </div>
                <div style="padding-top: 5px;">
                    {{ form_errors(contactForm.phone) }}
                    {{ form_widget(contactForm.phone) }}
                </div>
                <div style="padding-top: 5px;">
                    {{ form_errors(contactForm.email) }}
                    {{ form_widget(contactForm.email) }}
                </div>
                <div style="padding: 10px; text-align: center;">
                    <button id="contactFormButton" type="submit" style="color:white;" class="btn btn-success myLoader">
                        <span class="myFont">SEND</span>
                    </button>
                </div>

                <div style="text-align: center;">
                    {{ form_end(contactForm) }}
                </div>
                <div style="text-align: center;">
                    <button id="contactFormSentButton" style="margin-top: -10px; margin-bottom: 10px; color:white;display:none;" class="btn btn-success submitButton">
                        <span class="myFont">MESSAGE SENT </span><span class="gi-5p glyphicon glyphicon-ok" style="color:white"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="container center" id="indexwhite">
            <div class="row topBar">
                <a href="#" class="showContactDialog topLink pull-right"> Contact</a>
            </div>
            <div style="min-height:10em;" class="mainVertical"></div>
            <div class='myFont centerTitle'>CRM <span class='myFont redTitle'>AND</span> LEAD MANAGMENT
            </div>

            {% block container %}
            {% endblock%}
            <div style="min-height:20em;"></div>

            <div class='myTitle myFont'>
                Easy to use CRM And Lead Management system that eliminates manual work.
            </div>
            <div class='mySignature'>
                Application created by Peter Csatai (2015 - 2017)
            </div>
            <div style="min-height:12em;"></div>
        </div>


        {%block javascripts %}
        {%endblock%}
    </div>
    <script>
        $(document).ready(function () {
            var loadingsmall = '<div class="ispinner ispinner--white ispinner--animating myLoader" id="loader">\
                                    <div class="ispinner-blade"></div>\
                                    <div class="ispinner-blade"></div>\
                                    <div class="ispinner-blade"></div>\
                                    <div class="ispinner-blade"></div>\
                                    <div class="ispinner-blade"></div>\
                                    <div class="ispinner-blade"></div>\
                                    <div class="ispinner-blade"></div>\
                                    <div class="ispinner-blade"></div>\
                                    <div class="ispinner-blade"></div>\
                                    <div class="ispinner-blade"></div>\
                                    <div class="ispinner-blade"></div>\
                                    <div class="ispinner-blade"></div>\
                                </div>   ';
            var loading = '<div class="ispinner ispinner--white ispinner--animating myLoader"><div class="ispinner__blade"></div><div class="ispinner__blade"></div><div class="ispinner__blade"></div><div class="ispinner__blade"></div><div class="ispinner__blade"></div><div class="ispinner__blade"></div><div class="ispinner__blade"></div><div class="ispinner__blade"></div><div class="ispinner__blade"></div><div class="ispinner__blade"></div><div class="ispinner__blade"></div><div class="ispinner__blade"></div></div>';
            // CONTACT FORM AJAX SENDING START

            $(document).on('click', ".showContactDialog", function () {
                $("#dialog").dialog();
            });
            
            //reset the contact form
            $(document).on('click', "#contactFormSentButton", function () {
                $("#loginbundle_contact_message").val('');
                $("#loginbundle_contact_name").val('');
                $("#loginbundle_contact_phone").val('');
                $("#loginbundle_contact_email").val('');
                $('#contactFormSentButton').hide();
                $('#contactFormButton').html('<span class="myFont">SEND</span>');
                $('#contactFormButton').show();
                $("#dialog").dialog("destroy");
            });
            $(document).on('submit', "#contactForm", function (e) {
                $('#contactFormButton').attr('disabled', 'disabled');
                $('#contactFormButton').html(loading);
                var frm = $('#contactForm');
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data)
                    {
                        console.log(data);
                        if (data === 'success') {
                            //$('#contactFormButton').html('<span class="myFont">MESSAGE SENT </span><span class="gi-5p glyphicon glyphicon-ok" style="color:white"></span>');
                            $('#contactFormButton').removeAttr("disabled");
                            $('#contactFormButton').hide();
                            $('#contactFormSentButton').show();
                        }
                    }
                });
                e.preventDefault();
            });
            // CONTACT FORM AJAX SENDING END


        });
    </script>

</body>
</html>
