{% extends "AppBundle:Log:logbase.html.twig" %}
{% block title %}Welcome!{% endblock %}

{%block stylesheets %}
    <style type="text/css">
        #loader {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{%endblock%}   

{% block content %} 





    <!-- ALL leads -->






    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{% if allog.0.flag == '1' %}<span class="gi-7p glyphicon glyphicon-flag" style="color:red"></span>{% endif %} Update log &nbsp;&nbsp;<a href="{{ path('log_edit', { 'id': allog.0.id})}}"><span class="glyphicon glyphicon-edit"></span></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;Save this log as New Lead &nbsp;<a href="{{ path('log_save', { 'id': allog.0.id})}}"><span class="gi-7p glyphicon glyphicon-save"></span></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;Send appointment confirmation &nbsp;<a href="{{ path('confirm_main', { 'logid': allog.0.id})}}"><span class="gi-8p glyphicon glyphicon-envelope"></span></a></h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped gi-5p">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Created</th>
                            <th>Deadline</th>
                            <th>In/Out</th>
                            <th>Coordinator</th>
                            <th>Note</th>
                            <th>Action</th>
                            <th>Request to collegue</th>
                            <th>Assign to</th>
                            <th>Log ID</th>
                            <th>Flag</th>
                            <th>Solved</th>

                        </tr>
                    </thead>
                    {% for all in allog %}
                        <tr>
                            <td style="width:7%">{{ all.customerName }}</td>
                            <td style="width:8%">{{ all.customerEmail }}</td>
                            <td style="width:7%">{{ all.customerTel }}</td>
                            <td style="width:8%">{{ all.createdAt|date('d-m-Y / H:i:s') }}</td>
                            <td style="width:6%">{{ all.deadline|date('d-m-Y') }}</td>
                            <td style="width:3%">{{ all.inorout }}</td>
                            <td style="width:5%">{{ all.assign }}</td>
                            <td style="width:20%">{{ all.note }}</td>
                            <td style="width:12%">{{ all.action }}</td>
                            <td style="width:11%">{{ all.request }}</td>
                            <td style="width:5%">{{ all.reassign }}</td>
                            <td style="width:5%">{{ all.id }}</td>
                            <td style="width:4%">{% if all.flag == '1' %}<span class="gi-7p glyphicon glyphicon-flag" style="color:red"></span>{% endif %}</td>
                            <td style="width:4%">{% if all.solved == '1' %}<span class="gi-7p glyphicon glyphicon-check" style="color:green"></span>{% else %}<span class="gi-7p glyphicon glyphicon-exclamation-sign" style="color:red"></span>{% endif %}</td>
                        </tr>

                    </table>


                    <!-- NOTE TABLE -->

                    <div class="container-fluid">
                        <div class="col-xs-8">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Notes for the log: {{allog['0'].id}}</h3>
                                </div>
                                <table class="note gi-4p table table-striped"> 

                                    <thead>
                                        <tr>
                                            <th class="col-xs-2">Date</th>
                                            <th class="col-xs-4">Log note</th>
                                            <th class="col-xs-1">Log status</th>
                                            <th class="col-xs-1"></th>
                                            <th class="col-xs-1">Coordinator</th>
                                            <th class="col-xs-1"></th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        {% for all in loghistory %}
                                            <tr>
                                                <td class="col-xs-2">{{all.calldate|date('d-m-Y / H:i:s')}}</td>
                                                <td class="col-xs-4">{{all.note}}</td>
                                                <td class="col-xs-1">{{all.status}}</td>
                                                <td class="col-xs-1"></td>
                                                <td class="col-xs-1">{{all.assign}}</td>
                                                <td class="col-xs-1"></td>

                                            </tr>

                                        {% endfor %}
                                        <tr>
                                            <td class="col-xs-2"></td>
                                            <!-- Form lognote -->
                                            <td class="col-xs-4">
                                                <form action="{{ path('log_progress', { 'id': all.id})}}" method="POST">
                                                    <input type="hidden" name="logid" value="{{ all.id }}">
                                                    <input type="text" name="note" class="form-control input-inline input-sm" placeholder="Save the note here">


                                                    </td><input type='hidden' value='0' name='status'>
                                                    <td class="col-xs-1"><input type="checkbox" name="status" value="solved" {% if all.solved == '1' %}checked{%endif%}> Solved</td>
                                                    <input type='hidden' value='0' name='flag'>
                                                    <td class="col-xs-1"><input type="checkbox" name="flag" value="flag" {% if all.flag == '1' %}checked{%endif%}> Flag</td>
                                                    <td class="col-xs-1"><input class="btn btn-xs btn-success" type="submit" value="Save"/>

                                                    </td></form>
                                            <td class="col-xs-1"></td>



                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div id="logcommunication" class="loader">

                            </div>
                        </div>

                        <!-- REMINDER -->


                        <div class="col-xs-3">
                            <div id="logalarm">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Set up alarm</div>
                                    <div class="panel-body">


                                        <form id="alarm" action="{{ path('log_ajaxalarmsetup', { 'id': all.id})}}" class="" method="POST">
                                            <input type="hidden" name="id" value="{{ all.id }}">
                                            <input type="hidden" id="cname" name="cname" value="{{ all.customerName }}">
                                            <div class="form-group">
                                                <label for="remindernote">Reminder note</label>
                                                <input type="text" name="remindernote" id="remindernote" class="input-sm form-control" placeholder="Reminder note">
                                            </div>
                                            <div class="form-group">
                                                <label for="reminderdate">Reminder date</label>
                                                <input type="text" id="reminderdate" name="reminderdate" class="form-control datepicker input-sm" data-provide="datepicker" data-date-format="dd-mm-yyyy" placeholder="reminder date">
                                            </div>
                                            <label for="remindertime">Reminder time</label>
                                            <div class="input-group clockpicker">
                                                <input type="text" name="remindertime" class="form-control" id="remindertime" value="09:30">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                            <br>
                                            <button type="submit" class="btn btn-xs btn-danger" value="Remind">Alarm</button>
                                            <div id="alarmload"></div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div id="storedalarm"></div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>










{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function () {
            $(function () {
                checkAlarm();
            });
            var loading = '<div class="ispinner gray large animating myload" id="loader">\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                </div>   ';
            var loadingsmall = '<div class="ispinner gray animating myload" id="loader">\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                    <div class="ispinner-blade"></div>\
                </div>   ';

            $(function () {
                //clockpicker
                $('.clockpicker').clockpicker({donetext: 'Done', twelvehour: false, });
                $('#logcommunication').html(loading);
                $.ajax({
                    url: "{{ path('log_ajaxLogcommunication', { 'customerName': allog['0'].customerName})}}",
                    dataType: "json",
                    success: function (response) {
                        $('#logcommunication').html(response);
                    },
                    complete: function () {
                        console.log('Request is complete');
                    },
                    error: function () {
                        console.log('Oops...there was an error!');
                    }
                });

            });

            $(document).on('submit', "#alarm", function (e) {
                var alarmload = document.getElementById("alarmload");
                alarmload.innerHTML = loadingsmall;
                var frm = $('#alarm');
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data)
                    {
                        clearalarmLoad();
                        checkAlarm();
                    }
                });
                e.preventDefault();
            });
            function clearalarmLoad() {
                var alarmload = document.getElementById("alarmload");
                alarmload.innerHTML = 'Alarm has been set!';
            }

            function checkAlarm() {
                var storedNode = document.getElementById("storedalarm");
                $.ajax({
                    url: "{{ path('log_ajaxgetalarm', { 'id': allog[0].id})}}",
                    dataType: "json",
                    success: function (response) {
                        if (response !== 'no alarm') {
                            storedNode.innerHTML = response;
                            var alarmFormNode = document.getElementById("logalarm");
                            alarmFormNode.innerHTML = '';
                        }
                    }
                });
            }

            $(document).on('click', "#turnoff{{allog[0].id}}", function (e) {
                var loadNote = document.getElementById("turnoffload{{allog[0].id}}");
                loadNote.innerHTML = loading;
                $.ajax({
                    url: "{{ path('log_ajaxalarmoff', { 'id': allog[0].id})}}",
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        location.reload();
                        //aButtonPressed();
                    }
                });
            });


        });

    </script>



{% endblock %}