{% extends "AppBundle:Marketing:marketingbase.html.twig" %}
{% block title %}Welcome!{% endblock %}

{% block welcome %}Welcome {{name}}{% endblock %}



{%block content %}  
    <div class="container">
        <div class="col-lg-8">
            {% if error == false %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create campaign</h3>
                    </div>




                    <div class="panel-body">
                        {{ form_start(formsend) }}
                        {{ form_widget(formsend) }}
                        {{ form_end(formsend) }}
                    </div>
                </div>
            {% else %}

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ error }}</h3>
                    </div>
                </div>
            {% endif %}  



        </div>
    </div>

{%endblock%}   



{% block emailform %}
{% endblock %}




{% block javascripts %}{% endblock %}

