<style type="text/css">
    @font-face {
        font-family: 'Drug'; 
        src:    url({{asset('bundles/app/fonts/Drugs.otf')}}) format('opentype'); 
    }
    .myFont {
        font-family: 'Drug', 'Open Sans', sans-serif;
    }
</style>


<div class="row">
    {{ form_start(form) }}
    <div style="padding-top: 5px;">
        {{ form_errors(form.message) }}
        {{ form_widget(form.message) }}
    </div>
    <div style="padding-top: 5px;">
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div style="padding-top: 5px;">
        {{ form_errors(form.phone) }}
        {{ form_widget(form.phone) }}
    </div>
    <div style="padding-top: 5px;">
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}

    </div>
    <div style="padding-top: 5px;">
        {{ form_end(form, { 'attr': {'class': 'myFont'} } ) }}
    </div>

</div>


