{% extends "AppBundle:Default:emailbase.html.twig" %}
{% block title %}Welcome!{% endblock %}

{%block welcome%}{%endblock%}



{%block content %}  
    <div class="container">

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <div class="gi-1x">
                        <table class="table table-striped gi-2p">

                            <thead>
                                <tr>
                                    <th>Save new cron command</th>  
                                </tr>
                            </thead>

                            <tr>
                                {{ form_start(form) }}

                                {{ form_label(form.name) }}
                                {{ form_errors(form.name) }}
                                {{ form_widget(form.name) }}
                                {{ form_label(form.interval) }}
                                {{ form_errors(form.interval) }}
                                {{ form_widget(form.interval) }}

                                {{ form_label(form.commands) }}
                                {{ form_errors(form.commands) }}

                            <ul>
                                {% for commandsField in form.commands %}
                                    <li>
                                        {{ form_errors(commands) }}
                                        {{ form_widget(commands) }}
                                    </li>
                                {% endfor %}
                            </ul>


                            {{ form_end(form) }}

                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

{%endblock%}   



{% block emailform %}
{% endblock %}




{% block javascripts %}{% endblock %}