{% extends "AppBundle:Default:lead.html.twig" %}
{% block title %}Welcome!{% endblock %}
{%block stylesheets %}
{% endblock %}
{% block content %} 


    <!-- CURRENT REMINDERS -->

    <div class="col-lg-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Today or expired reminders</h3>
            </div>


            <div class="panel-body">


                {% for all in alert %}
                    <div class="panel panel-default">
                        <table class="table table-striped gi-4p">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Message</th>
                                    <th>Date/Time</th>
                                    <th>Coordinator</th>
                                    <th>Status</th>
                                        {% if all.assign != name %}
                                        <th>Assign</th>
                                        {% else %}
                                        <th></th>
                                        {%endif%}
                                </tr>
                            </thead>

                            <tr class="table table-striped gi-5p">
                                <td style="width:10%"><a href="{{ path('lead_progress', { 'id': all.id})}}">{{ all.customerName }}</a></td>
                                <td style="width:8%">{{ all.customerTel }}</td>
                                <td style="width:14%">{{ all.customerEmail }}</td>
                                <td style="width:33%">{{ all.message }}</td>
                                <td style="width:10%">{{ all.createdAt|date('d-m-Y H:i:s') }}</td>
                                <td style="width:10%">{{ all.assign }}</td>
                                <td style="width:8%">{{ all.status }}</td>
                                {% if all.assign == name %}
                                    <td style="width:7%"><a href="{{ path('lead_progress', { 'id': all.id})}}">Edit</a></td>
                                {% else %}
                                    <td style="width:7%">
                                        <form action="{{ path('lead_todo') }}" method="POST">
                                            <input type="hidden" name="assign" value="{{ all.id }}">
                                            <input class="btn btn-xs btn-success" type="submit" value="Get"/>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td class="col-md-1"><span class="gi-6p glyphicon glyphicon-time" style="color:red">&nbsp;</span>Reminder</td>
                                <td class="col-md-1">{{all.remindernote}}</td>
                                <td class="col-md-1">{{all.reminder|date('d-m-Y')}}</td>
                                <td class="col-md-1"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                
                            </tr>



                        </table>








                    </div>


                {% endfor %}



            </div>
        </div>
    </div>
    
    
    
    
    
    

    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">All reminder</h3>
            </div>


            <div class="panel-body">


                {% for all in reminder %}
                    <div class="panel panel-default">
                        <table class="table table-striped gi-4p">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Message</th>
                                    <th>Date/Time</th>
                                    <th>Coordinator</th>
                                    <th>Status</th>
                                        {% if all.assign != name %}
                                        <th>Assign</th>
                                        {% else %}
                                        <th></th>
                                        {%endif%}
                                </tr>
                            </thead>

                            <tr class="table table-striped gi-5p">
                                <td style="width:10%"><a href="{{ path('lead_progress', { 'id': all.id})}}">{{ all.customerName }}</a></td>
                                <td style="width:8%">{{ all.customerTel }}</td>
                                <td style="width:14%">{{ all.customerEmail }}</td>
                                <td style="width:33%">{{ all.message }}</td>
                                <td style="width:10%">{{ all.createdAt|date('d-m-Y H:i:s') }}</td>
                                <td style="width:10%">{{ all.assign }}</td>
                                <td style="width:8%">{{ all.status }}</td>
                                {% if all.assign == name %}
                                    <td style="width:7%"><a href="{{ path('lead_progress', { 'id': all.id})}}">Edit</a></td>
                                {% else %}
                                    <td style="width:7%">
                                        <form action="{{ path('lead_todo') }}" method="POST">
                                            <input type="hidden" name="assign" value="{{ all.id }}">
                                            <input class="btn btn-xs btn-success" type="submit" value="Get"/>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td class="col-md-1"><span class="gi-6p glyphicon glyphicon-time" style="color:red">&nbsp;</span>Reminder</td>
                                <td class="col-md-1">{{all.remindernote}}</td>
                                <td class="col-md-1">{{all.reminder|date('d-m-Y')}}</td>
                                <td class="col-md-1"></td>
                                <td></td>
                            </tr>



                        </table>








                    </div>


                {% endfor %}



            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {% endblock %}